[submodule "IdeaPlaceEx"]
	path = IdeaPlaceEx
	url = https://github.com/emit-interns/IdeaPlaceEx.git
	
[submodule "ConstGen"]
	path = ConstGen
	url = https://github.com/emit-interns/ConstGen.git

[submodule "anaroute"]
	path = anaroute
	url = https://github.com/emit-interns/anaroute.git

[submodule "device_generation"]
	path = device_generation
	url = https://github.com/emit-interns/device_generation.git
